body {
  margin: 0;
  padding: 0;

}
header {
  box-shadow: 0px 1px 5px 0px #888888;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 30px 10px 30px;
  height: auto;
}

header h2 {
  font-family: 'Nunito Sans' ;

}

.mode {
  display: flex;
  align-items: center;
}

.mode:hover {
  cursor: pointer;
}

.mode button {
  border: none;
  font-family: 'Nunito Sans';
  font-weight: 800;
  background-color: transparent;
}

.mode button:hover {
  cursor: pointer;
}

#IcoMoon {
  height: 25px;
  width: 25px;
}

main {
  padding: 0 30px;
}

.backButton {
  width: 5%;
  margin: 3% 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #888888;
  background-color: white;
}

.backButton img {
  width: 20px;
  height: 15px;
}

.backButton a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.flag {
  width: 50%;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  width: 50%;
}

.col1 {
  font-family: 'Nunito Sans';
  font-weight: 600;
}

.col1 h3 {
  font-size: 30px;
}

.col2 {
  font-family: 'Nunito Sans';
  font-weight: 600;

}
